<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>   

<h6>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<h3><%= title %><hr></h3>
<div class="container">
<form action="/aircraftCategories/addAircraftCategory" method="post" name="form1">
    <table>
        <tr>
            <td>Code &nbsp;</td>
            <td><input type="text" name="cod_category" value="<%= cod_category %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>Name &nbsp;</td>
            <td><input type="text" name="txt_category_name" value="<%= txt_category_name %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr>
        <td>
            <% if (messages.success) { %>
            <p style="color:green"><%- messages.success %></p>
            <% } %>
        </td>
        </tr>
    </table>
</form>
</div>
</h6>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>



