<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<h6>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<h3><%= title %><hr></h3>
<div class="container">
<form action="/cities/addCity" method="post" name="form1">
    <table>
        <tr>
            <td>Code &nbsp;</td>
            <td><input type="text" name="cod_city" value="<%= cod_city %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Name &nbsp;</td>
            <td><input type="text" name="txt_city_name" value="<%= txt_city_name %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>State &nbsp;</td>
            <td><select class="selectpicker" data-style="btn-info" name="cod_state">
                    <% data1.forEach(function(user){ %>
                        <option value="<%= user.txt_state_name %>">
                            <%= user.txt_state_name %>
                        </option>
                    <% }) %>
                </select>
            </td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>Country &nbsp;</td>
            <td><select class="selectpicker" data-style="btn-info" name="cod_country">
                    <% data.forEach(function(user){ %>
                        <option value="<%= user.txt_country_name %>">
                            <%= user.txt_country_name %>
                        </option>
                    <% }) %>
                </select>
            </td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>Latitude &nbsp;</td>
            <td><input type="text" name="num_latitude" value="<%= num_latitude %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>Longitude &nbsp;</td>
            <td><input type="text" name="num_longitude" value="<%= num_longitude %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>Time Zone &nbsp;</td>
            <td>
                <select class="selectpicker" data-style="btn-info" name="cod_timezone">
                    <% data2.forEach(function(user){ %>
                        <option value="<%= user.txt_timezone_name %>">
                            <%= user.txt_timezone_name %>
                        </option>
                    <% }) %>
                </select>
            </td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr>
        <td>
            <% if (messages.success) { %>
            <p style="color:green"><%- messages.success %></p>
            <% } %>
        </td>
        </tr>
    </table>
</form>
</div>
</h6> 

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>



