<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<h6>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<h3><%= title %><hr></h3>
<div class="container">
<form action="/manufacturers/addManufacturer" method="post" name="form1">
    <table>
        <tr>
            <td>Code &nbsp;</td>
            <td><input type="text" name="cod_manufacturer" value="<%= cod_manufacturer %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Name &nbsp;</td>
            <td><input type="text" name="txt_manufacturer_name" value="<%= txt_manufacturer_name %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>Country &nbsp;</td>
            <td><select class="selectpicker" data-style="btn-info" name="cod_country">
                        <% data.forEach(function(user){ %>
                            <option value="<%= user.txt_country_name %>">
                                <%= user.txt_country_name %>
                            </option>
                        <% }) %>
                </select>
            </td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr> 
            <td>Date Operation Start &nbsp;</td>
            <td><input type="date" id="datepicker" name="dat_operations_start" value="<%= dat_operations_start %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr>
        <td>
            <% if (messages.success) { %>
            <p style="color:green"><%- messages.success %></p>
            <% } %>
        </td>
        </tr>
    </table>
</form>
</div>
</h6> 

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>



