<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<h6>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<h3><%= title %><hr></h3>
<div class="container">
<form action="/standardAircraftReq/addStandardAircraft" method="post" name="form1">

    <table>
        <tr>
            <td>Code &nbsp;</td>
            <td><input type="text" name="cod_standard" value="<%= cod_standard %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Aircraft Registration &nbsp;</td>
            <td><input type="text" name="flg_aircraft_registration" value="<%= flg_aircraft_registration %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
		<tr>
            <td>Type &nbsp;</td>
            <td><input type="text" name="txt_aircraft_type" value="<%= txt_aircraft_type %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Minimum Seats &nbsp;</td>
            <td><input type="text" name="num_min_seats" value="<%= num_min_seats %>" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
		<tr>
            <td>Requirement &nbsp;</td>
            <td><input type="text" name="standard_aircraft_reqcol" value="<%= standard_aircraft_reqcol %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr>
        <td>
            <% if (messages.success) { %>
            <p style="color:green"><%- messages.success %></p>
            <% } %>
        </td>
        </tr>
    </table>
</form>
</div>
</h6>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>