<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
        
<h6>
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<h3><%= title %><hr></h3>
<div class="container">
<form action="/waivers/editWaiver/<%= cod_waiver %>" method="post" name="form1">
    <table>
                 <tr>
            <td>Code &nbsp;</td>
            <td><input type="text" name="cod_waiver" value="<%= cod_waiver %>" readonly/></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Name &nbsp;</td>
            <td><input type="text" name="txt_waiver_name" value="<%= txt_waiver_name %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr> 
		<tr> 
            <td>Pilot &nbsp;</td>
            <% if (flg_waiver_for_pilot == 1) { %>
            <td><input  type="checkbox" name="flg_waiver_for_pilot"  checked/></td>
            <input type="hidden" name="flg_waiver_for_pilot" value="0" />
            <% } else { %>
            <td><input  type="checkbox" name="flg_waiver_for_pilot"/></td>
            <input type="checkbox" name="flg_waiver_for_pilot" value="1" />
            <% } %>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Aircraft &nbsp;</td>
            <td><input type="text" name="flg_waiver_for_aircraft" value="<%= flg_waiver_for_aircraft %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Insurance &nbsp;</td>
            <td><input type="text" name="flg_waiver_for_insurance" value="<%= flg_waiver_for_insurance %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Operator &nbsp;</td>
            <td><input type="text" name="flg_waiver_for_operator" value="<%= flg_waiver_for_operator %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td>Document &nbsp;</td>
            <td><input type="text" name="flg_doc_upload_mandatory" value="<%= flg_doc_upload_mandatory %>" /></td>
        </tr>
		<tr><td>&nbsp;&nbsp;</td></tr>
		<tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
            <input type="hidden" name="_method" value="PUT" />
        <tr><td>&nbsp;&nbsp;</td></tr>
        <tr>
        <td>
            <% if (messages.success) { %>
            <p style="color:green"><%- messages.success %></p>
            <% } %>
        </td>
        </tr>
    </table>
</form>
</div>
</h6>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>