<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
 
<h6>
<div class="row city col-sm-10" >
<label class="pull-left title1"><%= title %></label>

<form action="/aircraftTypes/addAircraftTypes" method="get" >
<b class="pull-right">
<input type="submit" name="Submit" value="Add New"   />
</b>
</form>
</h6><br><br><br>
<h6>
<% if (messages.error) { %>
    <h5 style="color:red" ><%- messages.error %></h5>
<% } %>
 
<% if (messages.success) { %>
    <h5 style="color:green"><%- messages.success %></h5>
<% } %>
</h6><h6>
    <div class="starter-template row well col-sm-10" >
 <div class="table-responsive">
<table id="table-cluster" class="display">
 <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>No.&nbsp;of&nbsp;Seats</th>
        <th>ICAOType&nbsp;Code</th>
        <th>Helicopter</th>
        <th>SinglePilotOperations</th>
        <th>London&nbsp;City&nbsp;Landings</th>
        
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>No.&nbsp;of&nbsp;Seats</th>
        <th>ICAOType&nbsp;Code</th>
        <th>Helicopter</th>
        <th>SinglePilotOperations</th>
        <th>London&nbsp;City&nbsp;Landings</th>
        
        <td></td>
    </tr>
    </tfoot>
    <tbody>
    
    <% if (data) { %>
    <% data.forEach(function(user){ %>
        <tr>
            
            <td><%= user.cod_aircraft_type %></td>
            <td><%= user.txt_type_description %></td>
            <td><%= user.cod_manufacturer %></td>
            <td><%= user.num_seats %></td>
            <td><%= user.txt_icao_type_code %></td>
            <td><%= user.flg_helicopter %></td>
            <td><%= user.flg_single_pilot_operations %></td>
            <td><%= user.flg_london_city_landings %></td>
            
            <td align="center" style="width: 100px;">
                 <div class="btn-group" role="group" aria-label="...">
            <form method="post" action="/aircraftTypes/delete/<%= user.cod_aircraft_type %>" style="float:right">

                 <a href='/aircraftTypes/editAircraftTypes/<%= user.cod_aircraft_type %>'><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></button></a>

                 <button type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete ' +<%= user.cod_aircraft_type %>)" class="btn btn-danger"><i class="glyphicon glyphicon-trash">
                 </i></button></a>
                 <input type="hidden" name="_method" value="DELETE" />


                 </form>
                </div>
            </td>
        </tr>
    <% }) %>
    <% } %>
 </tbody>
</table>
</div>
</div>
</div>
</h6>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
