<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
 
<h6>
<div class="row city col-sm-10" >
<label class="pull-left title1"><%= title %></label>

<form action="/airports/addAirport" method="get" >
<b class="pull-right">
<input type="submit" name="Submit" value="Add New"   />
</b>
</form>
</h6><br><br><br>
<h6>
<% if (messages.error) { %>
    <h5 style="color:red" ><%- messages.error %></h5>
<% } %>
 
<% if (messages.success) { %>
    <h5 style="color:green"><%- messages.success %></h5>
<% } %>
</h6><h6>
    <div class="starter-template row well col-sm-10" >
 <div class="table-responsive">
<table id="table-cluster" class="display">
 <thead>
    <tr>
        <th>ID</th>
        <th>ICAO</th>
		<th>Logical&nbsp;ICAO</th>
		<th>IATA</th>
		<th>FAA</th>
		<th>Name</th>
		<th>Active</th>
		<th>Region</th>
		<th>City</th>
		<th>State</th>
		<th>Country</th>
		<th>Time&nbsp;Zone</th>
		<th>Longitude</th>
		<th>Latitude</th>
		<th>Elevation&nbsp;Feet</th>
		<th>Runways</th>
		<th>Shortest&nbsp;Runway</th>
		<th>Longest&nbsp;Runway</th>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    </thead>
    <tfoot>
    <tr>
       <th>ID</th>
        <th>ICAO</th>
		<th>Logical&nbsp;ICAO</th>
		<th>IATA</th>
		<th>FAA</th>
		<th>Name</th>
		<th>Active</th>
		<th>Region</th>
		<th>City</th>
		<th>State</th>
		<th>Country</th>
		<th>Time&nbsp;Zone</th>
		<th>Longitude</th>
		<th>Latitude</th>
		<th>Elevation&nbsp;Feet</th>
		<th>Runways</th>
		<th>Shortest&nbsp;Runway</th>
		<th>Longest&nbsp;Runway</th>
        <td></td>
    </tr>
    </tfoot>
    <tbody>
    
    <% if (data) { %>
    <% data.forEach(function(user){ %>
        <tr>
            <td><%= user.id_airport %></td>
            <td><%= user.cod_icao %></td>
			<td><%= user.cod_logicalICAO %></td>
			<td><%= user.cod_iata %></td>
			<td><%= user.cod_faa %></td>
			<td><%= user.txt_name %></td>
			<td><%= user.flg_active %></td>
			<td><%= user.cod_operation_region %></td>
			<td><%= user.cod_nearest_city %></td>
			<td><%= user.cod_state %></td>
			<td><%= user.cod_country %></td>
			<td><%= user.cod_timezone %></td>
			<td><%= user.num_longitude %></td>
			<td><%= user.num_latitude %></td>
			<td><%= user.num_elevation_feet %></td>
			<td><%= user.num_runways %></td>
			<td><%= user.num_shortest_runway_feet %></td>
			<td><%= user.num_longest_runway_feet %></td>
			
            <td align="center" style="width: 100px;">
                 <div class="btn-group" role="group" aria-label="...">
            <form method="post" action="/airports/delete/<%= user.id_airport %>" style="float:right">

                 <a href='/airports/editAirport/<%= user.id_airport %>'><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></button></a>

                 <button type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete ' +<%= user.id_airport %>)" class="btn btn-danger"><i class="glyphicon glyphicon-trash">
                 </i></button></a>
                 <input type="hidden" name="_method" value="DELETE" />

                 </form>
                </div>
            </td>
        </tr>
    <% }) %>
    <% } %>
 </tbody>
</table>
</div>
</div>
</div>
</h6>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
